
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 155 30% 98%;
    --foreground: 155 50% 4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 155 54% 38%;
    --primary-foreground: 155 10% 98%;

    --secondary: 155 20% 96%;
    --secondary-foreground: 155 40% 30%;

    --muted: 155 10% 94%;
    --muted-foreground: 155 10% 40%;

    --accent: 155 20% 90%;
    --accent-foreground: 155 50% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 155 20% 88%;
    --input: 155 20% 88%;
    --ring: 155 54% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 155 30% 8%;
    --foreground: 155 10% 98%;

    --card: 155 30% 12%;
    --card-foreground: 155 10% 98%;

    --popover: 155 30% 12%;
    --popover-foreground: 155 10% 98%;

    --primary: 155 54% 38%;
    --primary-foreground: 155 10% 98%;

    --secondary: 155 20% 20%;
    --secondary-foreground: 155 10% 98%;

    --muted: 155 20% 20%;
    --muted-foreground: 155 10% 70%;

    --accent: 155 20% 18%;
    --accent-foreground: 155 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 155 10% 98%;

    --border: 155 20% 24%;
    --input: 155 20% 24%;
    --ring: 155 54% 38%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
